body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('./pexels-pixabay-326259.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: aqua;

    
 }
 a{
    color: red;
 }
 li{ text-align: center;
   font-size: 100%;
   margin-left: -2%;
   
   
 }
 h1{
   text-align: center;
   font-size: 350%;
   
 }

#lista1{
   margin-top: 22.5%;
   
}
